@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid grey;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}
/*Affix*/
.container-fluid {
	position: relative;
	background-color: grey;
	color: #fff;
	height: 40px;
	padding-top:70px;
}
#hero .container-affix{
	 position:absolute;
	 height: 30px;
	 width: 100%;
	 background-color: grey;
	 z-index: 1000;
 }
#hero .container-affix h1{
	 font-size: 20px;
	 position: relative;
	 left: 10%;
 }
#hero .container-affix h2{
	 font-size: 20px;
	 position: absolute;
	 left:80%;
	 top: 0;
 }
/*End Affix*/

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	margin-top: 30px;
	width: 100vw;
	height: auto;
}
#header .header {
	min-width: 100%;
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
	
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* dropdown Menu */
#header .dropdown {
	margin-bottom: -16.5px;
	float: left;
	overflow: hidden;
	font-size: 13px;
	margin-right: 5px;
	margin-top:5px;
  }
#header .dropdown .dropbtn {
	font-size: 13px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
#header .dropdown:hover .dropbtn {
	background-color:grey;
  }
#header  .dropdown-content {
	
	display: none;
	position: absolute;
	background-color: white;
	width:66%;
	left: 16.6%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

#header  .dropdown:hover .dropdown-content {
	display: block;
  }
#header .column {
	float: left;
	width: auto;
	padding: 10px;
	background-color:white;
	height: auto;
  }  
#header  .column a {
	float: none;
	color: black;
	padding: 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
#header .column a:hover {
	background-color: #ddd;
  }
#header .row:after {
	content: "";
	display: table;
	clear: both;
  }    
  /* End dropdown Menu */

/* End Header section */

/* Hero Section */
#hero {
	background-image: url(/img/ileti.jpeg);
	background-size: 1760px 1000px;
	background-position: top center;
	position: relative;
	z-index: 1;
	opacity: 0.9;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */
/*Info section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url();
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
#services .container-services {
	width: 100%;
	height: 100%;
	background-color: blueviolet;
	color: #fff;
	font-size: 2rem;
	opacity: 0.8;
}
#services .container-services h1 {
	
	font: bold;
	}
/* End Services Section */
/* Animation Text */
#about .text {
	position: absolute;
	width: 450px;
	left: 50%;
	margin-left: -225px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
}

#services .title{
	font: bold;
}
#services .text p {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 20px;
	margin-right: 100px;
	font-size: 20px;
  }
  
#services .word {
	position: absolute;
	width: 200px;
	opacity: 0;
	margin-left: -100px;
  }
  
 .letter {
	display: inline-block;
	position: relative;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
	font-size: 25px;
  }
  
 .letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
 .letter.behind {
	transform: rotateX(-90deg);
  }

 .letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
	color: #8e44ad;
  }
  
 .belize {
	color: #2980b9;
  }
  
 .pomegranate {
	color: #c0392b;
  }
  
 .green {
	color: #16a085;
  }
  
 .midnight {
	color: #2c3e50;
  }
/* End Animation Text */
/* About */
#about .about {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#about .about-top{
	max-width: 700px;
	margin: 0 auto;
}
#about .about-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
}
#about .about-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url();
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#about .about-item::after {
	display: flex;
	justify-items: center;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#about .container-about {
	width: 100%;
	height: 100%;
	background-color: blueviolet;
	color: #fff;
	font-size: 2rem;
	opacity: 0.8;
}
/* End About */
/* Slider */
.w3-animate-fading{
	animation:fading 8s infinite
}
	@keyframes fading{
		0%{opacity:0}
		50%{opacity:1}
		100%{opacity:0}
	}
/* End Slider */
/* Footer */

#footer .footer {
	position: static;
	top:100%;
}

#footer .footer-distributed {
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

	#footer .footer-distributed .footer-left,
	#footer .footer-distributed .footer-center,
	#footer .footer-distributed .footer-right {
		display: inline-block;
		vertical-align: top;
	}

	/* Footer left */

	#footer .footer-distributed .footer-left {
		width: 30%;
	}

	#footer .footer-distributed h3 {
		color: #ffffff;
		font: normal 36px 'Cookie', cursive;
		margin: 0;
	}

	/* The company logo */

	#footer .footer-distributed .footer-left img {
		width: 30%;
	}

	#footer .footer-distributed h3 span {
		color: #e0ac1c;
	}

	/* Footer links */

	#footer .footer-distributed .footer-links {
		color: #ffffff;
		margin: 20px 0 12px;
	}

		#footer .footer-distributed .footer-links a {
			display: inline-block;
			line-height: 1.8;
			text-decoration: none;
			color: inherit;
		}

	#footer .footer-distributed .footer-company-name {
		color: #8f9296;
		font-size: 14px;
		font-weight: normal;
		margin: 0;
	}

	/* Footer Center */

	#footer .footer-distributed .footer-center {
		width: 35%;
	}


		#footer .footer-distributed .footer-center i {
			background-color: #33383b;
			color: #ffffff;
			font-size: 25px;
			width: 38px;
			height: 38px;
			border-radius: 50%;
			text-align: center;
			line-height: 42px;
			margin: 10px 15px;
			vertical-align: middle;
		}

			#footer .footer-distributed .footer-center i.fa-envelope {
				font-size: 17px;
				line-height: 38px;
			}

		#footer .footer-distributed .footer-center p {
			display: inline-block;
			color: #ffffff;
			vertical-align: middle;
			margin: 0;
		}

			#footer .footer-distributed .footer-center p span {
				display: block;
				font-weight: normal;
				font-size: 14px;
				line-height: 2;
			}

			#footer .footer-distributed .footer-center p a {
				color: #e0ac1c;
				text-decoration: none;
				;
			}


	/* Footer Right */

	#footer .footer-distributed .footer-right {
		width: 30%;
	}

	#footer .footer-distributed .footer-company-about {
		line-height: 20px;
		color: #92999f;
		font-size: 13px;
		font-weight: normal;
		margin: 0;
	}

		#footer .footer-distributed .footer-company-about span {
			display: block;
			color: #ffffff;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 20px;
		}

	#footer .footer-distributed .footer-icons {
		margin-top: 25px;
	}

		#footer .footer-distributed .footer-icons a {
			display: inline-block;
			width: 35px;
			height: 35px;
			cursor: pointer;
			background-color: #33383b;
			border-radius: 2px;
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 35px;
			margin-right: 3px;
			margin-bottom: 5px;
		}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	#footer .footer-distributed .footer-left,
	#footer .footer-distributed .footer-center,
	#footer .footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

#footer 		.footer-distributed .footer-center i {
			margin-left: 0;
		}
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
@media screen and (max-width: 600px) {
	#header .column {
	  width: 100%;
	  height: auto;
	}
  }